.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 20px;
}

.title {
    font-size: 26px;

}

.catWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5px;
    background-color: #f96e46;
    height: 70px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}

.categorySelected{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5px;
    background-color: #3c3c3b;
    color: #fff;
    height: 70px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}

.category:active {
    opacity: 0.8;
    transform: translateX(1px) translateY(1px);
}


.imgWrapper {
    display: flex;
    flex: 1;
    margin: 70px 30px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height: 160px;
}

.img {
    margin: 5px;
    max-height: 200px;
    max-width: 280px;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
}

.loading {
    align-self: center;
}